header {
  #menu_btn {
    color: black;
    font-size: xx-large;
    margin-left: 5vw;
  }

  .hide {
    display: none;
  }
  .show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;

    a {
      border: 1px solid black;
      margin-bottom: 5px;
      color: whitesmoke;
      text-align: center;
      text-decoration: none;
      background-color: black;

      &:hover {
        background-color: rgb(104, 104, 101);
        transition: 0.5s;
        // color: white;
      }
    }
  }

 
}

@media (min-width: 768px) {
  header {
    #menu_btn {
      display: none;
    }
    .hide {
      display: flex;
    }
    nav {
      // set the position when users scroll
      position: fixed;
      // prevents porjects from showing above it
      z-index: 1;
      top: 0;
      width: 100%;
      height: 50px;
      background-color: grey;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border: none;
      padding: none;

      a {
        border: none;
        margin-bottom: initial;
        background-color: initial;
        &:hover {
          background-color: rgb(255, 255, 255);
          font-weight: bold;
          color: rgb(23, 221, 178);
          border-radius: 5px;
          padding: 4px;
        }
      }
    }

  
  }
}

@media(min-width:1440px){
  nav{
    max-width: 1440px;
  }

}
