#ProfileContainer {
    width: 95%;
    margin: auto;
    // margin-top: 50px;

    .profile_pic {
      max-width: 100%;
      height: auto;
      border-radius: 10%;
    }
  }
  
  @media(min-width:768px){
    #ProfileContainer {
        width: 85%;
        margin-top: 50px;
      }
  }