#Projects {
  @include general_prop;
  // height: auto;
  text-align: center;
}

@media (min-width: 768px) {
  #projects_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

// @media (min-width: 768px) {
//     #projects_container {
//       grid-template-columns: 1fr 1fr 1fr;
//     }
//   }
