@import "config";
@import "header";
@import "about";
@import "projects";
@import "contact";
@import "footer";

.App {
  background-color: $main_bg_color;
  color: $color;
  width: 100vw;
  margin: 0;
  padding: 0;

  #home {
     height: 10px;
  }
}
