@import "config";
@import "header";
@import "about";
@import "projects";
@import "contact";
@import "footer";
@import "singleProject";


#App {
  background-color: $main_bg_color;
  color: $color;
  margin: auto;
  padding: 0;

}
